[defaults]
collections_path = ./collections
host_key_checking = False
force_color = True
roles_path = ./playbooks/compute/nto/roles:./playbooks/infra/roles

[ssh_connection]
ssh_args = "-o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ConnectTimeout=30 -o GSSAPIAuthentication=no"
control_path = %(directory)s/%%h-%%r
control_path_dir = ~/.ansible/cp
