---
- name: Deploy spoke masters on hypervisor for ZTP
  hosts: bastion
  vars:
    libvirtd_disk_path: /var/lib/libvirt/images
  tasks:

    - name: Build VM list for destruction
      ansible.builtin.set_fact:
        vms_to_destroy: "{{ vms_to_destroy | default([]) + [{'name': hostvars[item].hostname, 'disks': {'main': '1'}}] }}"
      loop: "{{ groups['masters'] }}"

    - name: Ensure VMs do not already exist
      include_role:
        name: redhatci.ocp.destroy_vms
        apply:
          delegate_to: hypervisor
      vars:
        cluster_name: "dummy"
        vm_bridge_interface: "dummy"
        kvm_nodes: "{{ vms_to_destroy }}"
        DELETE_VM_BRIDGE: false  # Prevent deletion of shared network infrastructure
      ignore_errors: true

    - name: Create empty qcow2 disk for VM
      ansible.builtin.command:
        cmd: "qemu-img create -f qcow2 {{ libvirtd_disk_path }}/{{ hostvars[item].hostname }}_main.qcow2 {{ (hostvars[item].vm_spec_string | from_yaml).disk_size_gb }}G"
        creates: "{{ libvirtd_disk_path }}/{{ hostvars[item].hostname }}_main.qcow2"
      loop: "{{ groups['masters'] }}"
      delegate_to: hypervisor

    - name: Create master VMs
      include_role:
        name: redhatci.ocp.create_vms
        apply:
          delegate_to: hypervisor
      vars:
        additional_virt_install_options: "--events on_reboot=restart --install no_install=yes --wait=0 --boot hd,cdrom"
        cluster_name: "dummy"
        vm_bridge_name: "{{ (hostvars[master_item].vm_spec_string | from_yaml).vm_bridge_interface }}"
        images_dir: "{{ libvirtd_disk_path }}"
        kvm_nodes:
          - name: "{{ hostvars[master_item].hostname }}"
            disks:
              main: "1"
            memory: "{{ (hostvars[master_item].vm_spec_string | from_yaml).ram_mib }}"
            network_interfaces:
              "{{ {(hostvars[master_item].vm_spec_string | from_yaml).vm_bridge_interface: hostvars[master_item].mac} }}"
            uuid: "{{ hostvars[master_item].uuid }}"
            vcpu: "{{ (hostvars[master_item].vm_spec_string | from_yaml).cpu_cores }}"
      loop: "{{ groups['masters'] }}"
      loop_control:
        loop_var: master_item

    - name: Ensure VMs are stopped for ZTP boot
      community.libvirt.virt:
        name: "{{ hostvars[item].hostname }}"
        state: shutdown
      loop: "{{ groups['masters'] }}"
      delegate_to: hypervisor
      ignore_errors: true
