apiVersion: performance.openshift.io/v2
kind: PerformanceProfile
metadata:
    name: performance
{% if annotations is defined %}
    annotations:
        {{ annotations }}
{% endif %}
spec:
    cpu:
        isolated: "4-23"
        reserved: "0-3"
{% if hugepages is defined %}
    hugepages:
        defaultHugepagesSize: {{ hugepages['size'] | default('1G') }}
{% if hugepages['pages'] is defined %}
        pages: 
{% for page in hugepages['pages'] %}
        - count: {{ page['count']}}
          node:  {{ loop.index0 }}
          size:  {{ page['size'] }}
{% endfor %}        
{% endif %}
{% endif %}
    machineConfigPoolSelector:
        machineconfiguration.openshift.io/role: {{ 'master' if (is_sno | bool) else 'worker-cnf' }}
    net:
        userLevelNetworking: true
    nodeSelector:
        node-role.kubernetes.io/{{ 'master' if (is_sno | bool) else 'worker-cnf' }}: ""
    numa:
        topologyPolicy: single-numa-node
    realTimeKernel:
        enabled: false
    workloadHints:
        highPowerConsumption: {{ high_power_consumption }}
        perPodPowerManagement: {{ per_pod_power_management }}
        realTime: {{ rt_kernel }}