apiVersion: performance.openshift.io/v2
kind: PerformanceProfile
metadata:
    name: performance
{% if annotations is defined %}
    annotations:
        {{ annotations }}
{% endif %}
spec:
    cpu:
        isolated: "{{ generated_ppc_cpu['isolated'] }}"
        reserved: "{{ generated_ppc_cpu['reserved'] }}"
{% if hugepages is defined %}
    hugepages:
        defaultHugepagesSize: {{ hugepages['size'] | default('1G') }}
{% if hugepages['pages'] is defined %}
        pages: 
{% for page in hugepages['pages'] %}
        - count: {{ page['count']}}
          node:  {{ loop.index0 }}
          size:  {{ page['size'] }}
{% endfor %}        
{% endif %}
{% endif %}
    machineConfigPoolSelector:
        machineconfiguration.openshift.io/role: worker-cnf
    net:
        userLevelNetworking: true
    nodeSelector:
        node-role.kubernetes.io/worker-cnf: ""
    numa:
        topologyPolicy: single-numa-node
    realTimeKernel:
        enabled:  {{ rt_kernel }}
    workloadHints:
        highPowerConsumption: {{ high_power_consumption }}
        perPodPowerManagement: {{ per_pod_power_management }}
        realTime: {{ rt_kernel }}