[Unit]
Description=Registry UI Container
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/bin/podman start {{ registry_gui_registry_ui_container_name }}
ExecStop=/usr/bin/podman stop -t 10 {{ registry_gui_registry_ui_container_name }}
KillMode=none
Type=forking
TimeoutStopSec=30

[Install]
WantedBy=default.target
