#!/bin/bash

podman run --name cnf-container-tests \
    --net=host \
    -v {{ cnf_test_dir }}:/kubeconfig:Z \
    -v {{ junit_report_path }}:/junit:Z \
    -v {{ report_path }}:/report:Z \
    -e KUBECONFIG=/kubeconfig/kubeconfig \
    -e IMAGE_REGISTRY={{ registry }}/ \
    -e CNF_TESTS_IMAGE=cnf-tests-rhel8:v{{ version }} \
    -e DPDK_TESTS_IMAGE="dpdk-base-rhel{{ '8' if (version.split('.')[1] | int < 16) else '9' }}:v{{ version }}" \
    -e NODES_SELECTOR="node-role.kubernetes.io/{{ role_worker_cnf }}=" \
    -e ROLE_WORKER_CNF={{ role_worker_cnf }} \
    -e IS_OPENSHIFT=true \
    -e XT_U32TEST_HAS_NON_CNF_WORKERS=false \
    -e SCTPTEST_HAS_NON_CNF_WORKERS="{{ sctp_host_non_cnf_workers | default('false') }}" \
    {% if cnf_test_perf_test_profile is defined and cnf_test_perf_test_profile | length > 0 %}
    -e PERF_TEST_PROFILE="{{ cnf_test_perf_test_profile }}" \
    {% endif %}
    {% if oo_install_ns is defined and oo_install_ns | length > 0 %}
    -e OO_INSTALL_NAMESPACE="{{ oo_install_ns }}" \
    {% endif %}
    {% if cnf_interfaces is defined and cnf_interfaces | length > 0 %}
    -e SRIOV_NODE_AND_DEVICE_NAME_FILTER="{{ cnf_worker_name }}:{{ (cnf_interfaces | split(','))[0][0:4] }}.*" \
    {% endif %}
    {{ cnf_image_tag }} \
    /usr/bin/test-run.sh  \
    -ginkgo.focus="{{ features }}" \
    --report /report \
    -ginkgo.timeout=24h \
    --junit /junit \
    -ginkgo.v
