- name: Get Nodes information
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
  register: nodes_info
  
- name: Verify if it's SNO cluster
  ansible.builtin.set_fact:
    is_sno: true
  when: nodes_info.resources | length == 1
