---
- name: Ensure python packages are installed
  ansible.builtin.pip:
    name:
      - kubernetes >= 24.2.0
      - PyYAML >= 3.11

- name: Set Manifests folder
  ansible.builtin.set_fact:
    manifests_folder: "{{ artifacts_folder }}/manifests"

- name: Create manifests directory
  ansible.builtin.include_tasks: create_directory.yml
  vars:
    dir_path: "{{ item }}"
  loop:
    - "{{ artifacts_folder }}"
    - "{{ manifests_folder }}"

- name: Detect if deployment is SNO
  ansible.builtin.include_tasks: detect_sno.yml

- name: Collect Must Gather
  ansible.builtin.include_tasks: must_gather.yml
  when: not day0_installation | bool

- name: Render Manifests
  ansible.builtin.include_tasks: Render_manifests.yml

- name: Deploy Manifests
  ansible.builtin.include_tasks: deploy_manifests.yml
  when: not day0_installation | bool
