---
- name: Set Manifests folder
  ansible.builtin.set_fact:
    manifests_folder: "{{ artifacts_folder }}/manifests"

- name: Create manifests directory
  ansible.builtin.include_tasks: create_directory.yml
  vars:
    dir_path: "{{ item }}"
  loop:
    - "{{ artifacts_folder }}"
    - "{{ manifests_folder }}"

- name: Deploy Day2 Configuration
  ansible.builtin.include_tasks: day2_installation.yml
  when: not day0_installation

- name: Deploy Day0 Configuration
  ansible.builtin.include_tasks: day0_installation.yml
  when: day0_installation
