apiVersion: performance.openshift.io/v2
kind: PerformanceProfile
metadata:
  name: "{{ target }}-performance-nrop"
  annotations:
    kubeletconfig.experimental: |
      {"topologyManagerScope": "{{ topology_manager_scope }}",
      "cpuManagerPolicyOptions": {"full-pcpus-only": "false"}
      }
spec:
  cpu:
    isolated: {{ cpu_isolated }}
    reserved: {{ cpu_reserved }} 
  machineConfigPoolSelector:
    pools.operator.machineconfiguration.openshift.io/{{ target }}: ""
  nodeSelector:
    node-role.kubernetes.io/{{ target }}: ""
  numa:
    topologyPolicy: single-numa-node
