# jinja2: trim_blocks: True, lstrip_blocks: True
{% if ocp_version_major | int == 5 or ocp_version_minor | int <= 17 %}
apiVersion: nodetopology.openshift.io/v1
kind: NUMAResourcesOperator
metadata:
  name: numaresourcesoperator
spec:
  nodeGroups:
  - poolName: {{ nrop_target_pool }}
{% if is_full_schedulable_cluster | bool %}
  - poolName: worker
  {% endif %}
{% else %}
apiVersion: nodetopology.openshift.io/v1
kind: NUMAResourcesOperator
metadata:
  name: numaresourcesoperator
spec:
  nodeGroups:
  - machineConfigPoolSelector:
      matchLabels:
        pools.operator.machineconfiguration.openshift.io/{{ nrop_target_pool }}: ""
{% if is_full_schedulable_cluster | bool %}
        pools.operator.machineconfiguration.openshift.io/worker: ""
{% endif %}
{% endif %}
---
apiVersion: nodetopology.openshift.io/v1
kind: NUMAResourcesScheduler
metadata:
  name: numaresourcesscheduler
spec:
  imageSpec: {{ scheduler_image_uri }}
