apiVersion: v1
kind: Secret
metadata:
  name: pull-secret
  namespace: openshift-config
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: >-
    {{
      (
        pull_secret.resources[0].data['.dockerconfigjson']
        | b64decode
        | from_json
        | combine({
            'auths': (
              (
                pull_secret.resources[0].data['.dockerconfigjson']
                | b64decode
                | from_json
              ).auths
              | combine(trusted_registries)
            )
          })
        | to_nice_json
        | b64encode
      )
    }}
