apiVersion: v1
kind: Secret
metadata:
  name: "{{ spoke_cluster }}-bmc-secret"
  namespace: "{{ spoke_cluster }}"
type: Opaque
stringData:
  username: "{{ bmc_user  }}"
  password: "{{ bmc_password }}"
