apiVersion: local.storage.openshift.io/v1
kind: LocalVolume
metadata:
  name: "{{ local_volume_name }}"
  namespace: "{{ local_volume_namespace }}"
spec:
  nodeSelector:
    nodeSelectorTerms:
      - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - "{{ k8s_node_name }}"
  storageClassDevices:
    - storageClassName: local-sc
      forceWipeDevicesAndDestroyAllData: true
      volumeMode: Filesystem
      fsType: xfs
      devicePaths:
        - "/dev/{{ vol_group_name }}/{{ local_volume_name }}"
