apiVersion: v1
kind: Secret
metadata:
  name: "{{ spoke_cluster }}-pull-secret"
  namespace: "{{ spoke_cluster }}"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: "{{ hub_pull_secret.resources[0].data['.dockerconfigjson'] }}"